<div class = "welcome">
<h1> Log in as a Tutor</h1>
<div class = "relative">
<%= form_tag(@session) do %>
    <div class="field">
      <%= label_tag :name %>
      <%= text_field_tag :name %>
    </div>
    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <div class="action">
      <%= submit_tag "Log in" %>
    </div>
  <% end %>
</div>
</div>