<body>
<p id="notice"><%= notice %></p>
<div class = "welcome">
<h1 class = "list">Students</h1>
<div class = "relative">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.name, student %></td>
        <td><%= student.email %></td>
        <% if student == current_user %>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Unsubscribe', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<span class = "subber">
<%= link_to 'New Student', new_student_path %>
</span>
</div>
</body>